<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hackathon2</display-name>
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>Registration_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/next</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>second</servlet-name>
    <servlet-class>Validation_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/valid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Update_servlet</servlet-name>
    <servlet-class>Check_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_servlet</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sorting</servlet-name>
    <servlet-class>Sort_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sorting</servlet-name>
    <url-pattern>/sort</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>phy</servlet-name>
    <servlet-class>Physics_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phy</servlet-name>
    <url-pattern>/physics</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>che</servlet-name>
    <servlet-class>Chemistry_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>che</servlet-name>
    <url-pattern>/chemistry</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sec</servlet-name>
    <servlet-class>Second_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sec</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>secondpysi</servlet-name>
    <servlet-class>SecondPhysics_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondpysi</servlet-name>
    <url-pattern>/physecond</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>secondche</servlet-name>
    <servlet-class>SecondChemistry_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondche</servlet-name>
    <url-pattern>/chesecond</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>final</servlet-name>
    <servlet-class>Final_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>final</servlet-name>
    <url-pattern>/maththird</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mess</servlet-name>
    <servlet-class>Message_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mess</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>auth</servlet-name>
    <servlet-class>AuthUser_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>auth</servlet-name>
    <url-pattern>/my</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adm</servlet-name>
    <servlet-class>Admin_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adm</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>fgg</servlet-name>
    <servlet-class>Show_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fgg</servlet-name>
    <url-pattern>/show</url-pattern>
  </servlet-mapping>
</web-app>